@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Mabry Pro";
	src: url("/fonts/MabryPro-Medium.ttf") format("truetype");
	font-weight: 500;
}

@font-face {
	font-family: "Proxima Nova";
	src: url("/fonts/ProximaNova-Thin.woff") format("woff");
	font-weight: 300;
}

@font-face {
	font-family: "Proxima Nova";
	src: url("/fonts/ProximaNova-Light.woff") format("woff");
	font-weight: 400;
}

.mask {
	mask-image: linear-gradient(
		179.79deg,
		#000000 0.18%,
		#000000 65.25%,
		rgba(217, 217, 217, 0) 97.39%
	);
}

.grid-course-info {
	grid-template-columns: 134px 314px 318px 162px 192px;
}

.grid-course-info-lg {
	grid-template-columns: 104px 274px 278px 130px 142px;
}

.grid-my-courses-lg {
	grid-template-columns: 105px 438px 146px;
}
